.gcloudignore
.git
.gitignore

node_modules
**/node_modules
.next
**/.next
.turbo
**/.turbo

**/.venv
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.ruff_cache
**/.mypy_cache

.env
.env.*
!.env.example
!.env*.example

.DS_Store
.vscode
.idea
coverage
dist
build
